<!DOCTYPE html >
<html lang="en" ng-app="minmax">
<head >
	<title >Data Binding and Form Validation</title >
	<link href="./libs/bootstrap/dist/css/bootstrap.min.css"
	      rel="stylesheet" >
	<link href="styles.css"
	      rel="stylesheet" >
</head >

<body >

<div class="container" ng-init="title='codeStuffs'" >
	<h1>{{title}}</h1>
</div >

<nav class="navbar navbar-inverse navebar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Controllers</a>
		</div>
	</div>
</nav>

<div class="container main-content" ng-controller="MinMaxCtrl">
	<form ng-submit="onSubmit(mainForm.valid())"
		  name="mainForm"
		  novalidate="novalidate">
		<div class="form-group">
			<label for="name">Name</label>
			<input 
				type="text"
				class="form-control"
				ng-model="formModel.name"
				id="name">
		</div>

		<div class="form-group">
			<label for="username">Username</label>
			<input 
				type="text"
				class="form-control"
				ng-model="formModel.username"
				id="username">
		</div>

		<div class="form-group">
			<label for="age">Age</label>
			<input 
				type="number"
				class="form-control"
				ng-model="formModel.age"
				id="age">
		</div>

		<div class="form-group">
			<label for="sex">Gender</label>
			<select 
				name="sex"
				class="form-control"
				ng-model="formModel.sex"
				id="sex">
				<option value="">What gender are you?</option>
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>
		</div>

		<div class="form-group" ng-class="
			{'has-error':!mainForm.email.$valid && (!mainForm.$pristine || mainForm.$submitted),
			 'has-success':!mainForm.email.$valid && (!mainForm.$pristine || mainForm.$submitted)}
		">
			<label for="email">Email</label>
			<input 
				type="email"
				class="form-control"
				ng-model="formModel.email"
				id="email"
				name="email">

			<p class="help-block" ng-show="mainForm.email.$error.required && (!mainForm.$pristine || mainForm.$submitted)">
			This field is required</p>
			<p class="help-block" ng-show="mainForm.email.$error.email && (!mainForm.$pristine || mainForm.$submitted)"> 
			Please enter an email with at least an @ symbol</p>

			<pre>Validation {{ mainForm.email.$error | json}}</pre>
			<pre>Field Valid? {{ mainForm.email.$valid}}</pre>
			<pre>Form Pristine? {{mainForm.email.$pristine}}</pre>
			<pre>Form Submitted? {{mainForm.$submitted}}</pre>
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input 
				type="password"
				class="form-control"
				ng-model="formModel.password"
				id="password">
		</div>

		<div class="form-group">
			<button class="btn btn-primary" ng-click="onSubmit()">Register</button>
		</div>
	</form>
	<pre>{{ mainForm | json }}</pre>
</div>
<script src="./libs/angular/angular.min.js" ></script>
<script src="./index.js" ></script>
</body >
</html >

